<head>
  <meta charset="UTF-8">
    <title>{{title}}</title>
    
   <link rel="stylesheet" type="text/css" href="/css/style.css" /> 
   <link rel="stylesheet" href="/css/bootstrap.css" />  
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/animate-custom.css" />
    <script src="js/responsive-nav.min.js"></script>
   </head> 
 
   <div class="hero">
        <nav class="main-nav nav-collapse clear-fix">
        <ul>
          <li><a href="/index">About</a></li>
          <li><a href="/customer/login">Login</a></li>
          <li><a href="#">Contact</a></li>
          <li class="donate"><a href="/customer/order">Order</a></li>
        </ul>
     </nav>
    
<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customer/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customer/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customer/logout">Logout</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Welcome To Purple Cupcake</h3>
      </div>

      <div class="row ">
        <div class="col-lg-12">
         
       
      </div>

      

    </div>


 <form id="signup" name="signup" method="post" action="/register">
  <label for="email">Email Address</label>
  <input class="text" name="email" type="email" />
  <label for="firstname">Firstname</label>
  <input name="firstname" type="text" />
  <label for="lastname">Lastname</label>
  <input name="lastname" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <input class="btn" type="submit" value="Sign Up" />
</form> 

